#addInput {
    font-family: 'Delius Unicase', cursive;
    margin: auto;
    text-align: end;
    text-transform: uppercase;
    width: auto;;
}
body {background-color: rgb(192, 190, 190);}
h2 {
    font-family: 'Delius Unicase', cursive;
}
#searchInput {
    font-family: 'Delius Unicase', cursive;
    margin: auto;
    width: auto;;
    padding-bottom: 0%;
    text-align: end;
    padding-top: 0%;
    text-transform: uppercase;
    margin-bottom: 2%;
    margin-top: 2%;
}

table {
    background-color: aliceblue;
    border-collapse: collapse;
    font-family: 'EB Garamond', serif;
    font-family: 'Arapey', serif;
    font-weight: bolder;
    margin-bottom: 1%;
    text-align: center;
    width: 50%;
}
table td {
   border:0.5px solid #000;
}
html,body {
	margin: 0;
	padding: 0;
}
.slider {
    width: 49%;
    margin: 1em auto;
}

.slider-wrapper {
    width: 143%;
    height: 170px;
    position: relative;
    margin: 0%;
    /* margin-right: 48%; */
    margin-left: -100%;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 5s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.wf-active body {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-family: sans-serif;
    background-color: #ddd;
    padding: 1em;
    margin: 0;
    /*border: 1px solid red;*/
}
.site-header {
    text-align: center;
    padding: 1em 0;
    border-bottom: solid 1px #ccc;
    background-color: #fff;
    float: left;
    clear: left;
    width: 35%;
}

.site-header {
    text-align: center;
    padding: 1em 0;
    border-bottom: solid 1px black;
    background-color: skyblue;


}
main {
    padding: 1em;
    background-color: purple;
}
main {
    float: right;
    width: 60%;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    line-height: 1;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.site-footer {
    text-align: center;
    padding: 1em 0;
    border-bottom: solid 1px black;
    background-color: pink;

}

.site-header, .site-footer {
    float: left;
    clear: left;
    width: 35%;
}
