#addInput {
    font-family: 'Delius Unicase', cursive;
    margin: auto;
    text-align: end;
    text-transform: uppercase;
    width: auto;;
}
#searchInput {
    font-family: 'Delius Unicase', cursive;
    margin: auto;
    width: auto;;
    padding-bottom: 0%;
    text-align: end;
    padding-top: 0%;
    text-transform: uppercase;
    margin-bottom: 2%;
    margin-top: 2%;
}
table {
    background-color: pink;
    border-collapse: collapse;
    font-family: 'EB Garamond', serif;
    font-family: 'Arapey', serif;
    font-weight: bolder;
    margin-bottom: 1%;
    text-align: center;
    width: 50%;
}
table td {
   border:0.5px solid #000;
}
html,body {
	margin: 0;
	padding: 0;
}
.slider {
    width: 49%;
    margin: 1em auto;
}
.slider-wrapper {
    width: 143%;
    height: 170px;
    position: relative;
    margin: 0%;
    /* margin-right: 48%; */
    margin-left: -100%;
}
.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 5s linear;
}
.slider-wrapper > .slide:first-child {
	opacity: 1;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
.wf-active body {
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    font-family: sans-serif;
    background-color: #ddd;
    padding: 1em;
    margin: 0;
    /*border: 1px solid red;*/
}
main {
    padding: 1em;
    float: right;
    width: 60%;
    font-family: 'Arima Madurai', cursive;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Delius Unicase', cursive;
    line-height: 1;
    margin-top: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
.site-header {
    background-color: skyblue;
    border-bottom: solid 1px black;
    clear: left;
    float: left;
    padding: 1em 0;
    text-align: center;
    width: 35%;
}
.site-footer {
    text-align: center;
    padding: 1em 0;
    border-bottom: solid 1px black;
    background-color: pink;
}
.site-header, .site-footer {
    float: left;
    clear: left;
    width: 35%;
}
option {
    text-transform: capitalize;
}
button {
    cursor: pointer;
    background-color: black;
    color: aqua;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: green;}
    to {background-color: yellow;}
}
/* Standard syntax */
@keyframes example {
    from {background-color: green;}
    to {background-color: yellow;}
}

body {
   animation: colorchange 5s; /* animation-name followed by duration in seconds*/
      /* you could also use milliseconds (ms) or something like 2.5s */
   -webkit-animation: colorchange 5s; /* Chrome and Safari */
 }

 @keyframes colorchange
 {
   0%   {background: #4a0808;}
   25%  {background: #ab3f6c;}
   50%  {background: #a04cb5;}
   75%  {background: #398e8a;}
   100% {background: #59a069;}
 }

 @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
 {
   0%   {background: red;}
   25%  {background: yellow;}
   50%  {background: blue;}
   75%  {background: green;}
   100% {background: red;}
 }
td{
    text-transform: capitalize;
    font-weight: 100;
}
span{
    font-size: medium;
    font-family: -webkit-pictograph;
    font-style: italic;
    text-decoration: overline;
}

th {
    font-family: 'Arima Madurai', cursive;
}
#myResult{
    color: white;
}
